:root {
  --color-blue: #0061FF;
  --color-blue-light: #bed9ff;
  --color-dark-blue: #002B7F;
  --color-orange: #FF6B00;
  --color-orange-light: #ffc89e;
  --color-gold: #FFD700;
  --color-gray-light: #e7e7e7;
  --color-gray: #475569;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
}

#progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 4px;
  background: var(--color-blue);
  width: 0%;
  z-index: 100;
  transition: width 0.2s linear;
}

.hero-section {
  min-height: calc(100vh - 72px);
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center;
}